{{>header}}
<div id="bk">
    {{>navbar}}
    <div class="container">
       <h1>Welcome to the Digital World</h1>
            <h3>We are here to help you to Grab the Job Opportunity in IT Field</h3>
    </div>
</div>
<div class="container">
    <div class="row my-5">
        <div class="col mx auto">
            <h2 class="text-center login-title my-4">Hope You Have Registerd into the Website</h2>
             <p class="text-center">If You haven't Registered Till Now then Register Yourself Right Now</p>
             <p class="text-center">Sign In and get Benefits of Our Services</p>
        </div>
    </div>
</div>
{{>footer}}