{{>header}}
<div id="bk">
    {{>navbar}}
    <div class="container">
            <h1>Welcome to the Digital World</h1>
            <h3>We are here to help you to Grab the Job Opportunity in IT Field</h3>
    </div>
</div>
<div class="container">
    <div class="row my-4 mb-1">
        <div class="col mx auto">
            <h2 class="text-center login-title my-3 mb-2">Welcome to the Services Page of Digital World</h2>
            <p class="text-center">We are here to help you out From the Unemployment</p>
            <p class="text-center">Sign In and get Benefits of Our Services</p>
            <h2 class="text-center">You are in the Page Of Imaginary Services provided by us</h2>
            <p class="text-center">Thanks For Visiting</p>
        </div>
    </div>
</div>
{{>footer}}